﻿@model Employee
@{
    ViewData["Title"] = "Add Employee";
}


<form asp-controller="Home" asp-action="Create" method="post" class="form-horizontal">
    <h4>Register new employeee.</h4>
    <hr />
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    <div class="form-group">
        <label asp-for="EmployeeFirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="EmployeeFirstName" class="form-control" />
            <span asp-validation-for="EmployeeFirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="EmployeeLastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="EmployeeLastName" class="form-control" />
            <span asp-validation-for="EmployeeLastName" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>


@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}