@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Employee Listing";
}

<a class="btn btn-primary" asp-action="Create" >Add employee</a>

<h2>Listing</h2>
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <td>EmployeeId</td><td>First Name</td><td>Last Name</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var emp in Model)
            {
                <tr>
                    <td>
                        @emp.EmployeeId
                    </td>
                    <td>
                        @emp.EmployeeFirstName
                    </td>
                    <td>
                        @emp.EmployeeLastName
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="edit" asp-route-employeeId="@emp.EmployeeId" >Edit</a>
                        <a class="btn btn-primary" asp-action="delete" asp-route-employeeId="@emp.EmployeeId">Delete</a>
                    </td>
                </tr>
              
            }
        }
    </tbody>
</table>





